.Credentials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-bottom: $page-margin/4;
    font-size: 14px;
  }
  .signin, .signup {
    border: 1px solid #ccc;
    margin: $page-margin/2;
    padding: $page-margin/4;
    width: 320px;
    p {
      padding: $page-margin/4;
      display: flex;
      justify-content: space-between;
      label {
        padding-right: $page-margin/2;
      }
      .forgot {
        text-decoration: none;
        color: #7f7f7f;
      }
    }
  }
}
