.Sidebar {
  padding-left: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: $sidebar-width;
  background-color: #eee;
  transition: width 1s;
  // cursor: default;
  z-index: 1;
  &:hover {
    .side-item {
      opacity: 1;
    }
    // .filter {
    //   opacity: 0;
    // }
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: center;

  // .filter {
  //   z-index: -1;
  //   position: fixed;
  //   transition: opacity 1s;
  //   -webkit-transform: rotate(-90deg);
  //   -moz-transform: rotate(-90deg);
  //   -ms-transform: rotate(-90deg);
  //   -o-transform: rotate(-90deg);
  //   transform: rotate(-90deg);
  //   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  // }


  .side-item {
    cursor: pointer;
    text-align: left;
    // width: 11vw;
    display: block;
    font-size: 12px;
    padding: 15px 30px;
    // opacity: 0;
    transition: opacity 1s;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7f7f7f;
    text-decoration: none;
    &:after {
      position: absolute;
      content: '';
      left: 10px;
      right: 10px;
      bottom: -4px;
      height: 4px;
      background: #2d2d2d;
      -webkit-transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
      -moz-transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
      -o-transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
      transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
    }
    .current,
    .current:hover,
    &.active {
      color: #2d2d2d;
      background-color: #dfdfdf
    }
    &:hover {
        color: #2d2d2d;
    }

    .current:after,
    .current:hover:after,
    &:hover:after {
        bottom: 0;
    }

    .current {
        cursor: default;
    }
  }
}
