$nav_height: 124px;
$sidebar_width: 220px;


html, #root, body, .App {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #7f7f7f;
  font-size: 24px;
}
