$nav-height: 122px;
$sidebar-width: 220px;
$page-margin: $sidebar-width/4;


html, #root, body, .App {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 0.1em;
  color: #7f7f7f;
  font-size: 12px;
}
