.side-bar {
  padding-left: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: $nav_height;
  height: 100vh;
  background: white;
  transition: width 1s;
  &:hover {
    // width: 14vw;
    .side-item {
      opacity: 1;
    }
    .filter {
      opacity: 0;
    }
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .filter {
    position: fixed;
    transition: opacity 1s;
    /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }


  .side-item {
    text-align: left;
    // width: 11vw;
    display: block;
    font-size: 12px;
    padding: 15px;
    opacity: 0;
    transition: opacity 1s;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #7f7f7f;
    text-decoration: none;
    &:after {
      position: absolute;
      content: '';
      left: 10px;
      right: 10px;
      bottom: -4px;
      height: 4px;
      background: #2d2d2d;
      -webkit-transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
      -moz-transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
      -o-transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
      transition: 0.6s bottom cubic-bezier(.19, 1, .22, 1);
    }
    .current,
    .current:hover,
    &:hover {
        color: #2d2d2d;
    }

    .current:after,
    .current:hover:after,
    &:hover:after {
        bottom: 0;
    }

    .current {
        cursor: default;
    }
  }
}
