.BigProduct {
  border: 1px solid #ddd;
  margin: 0px 4px 8px 4px;
  img {
    width: 800px;
    perspective: 1000;
    transition: 0.5s;
  }
  .info {
    padding: 20px 0 50px;
    height: 7%;
    left: 0;
    background: #fff;
    transition: opacity .5s;
    font-size: 12px;
    h3 {
      margin: 5px;
    }
  }
}
