.BigProduct {
  position: relative;
  border: 1px solid #ddd;
  margin: 0px 4px 8px 4px;
  break-inside: avoid;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    // max-height: $big-height;
    height: 600px;
    max-width: 100%;
    perspective: 1000;
    transition: 0.5s;
  }
  .info {
    width: 100%;
    height: 7%;
    position: absolute;
    bottom: 40%;
    left: 0;
    background: #fff;
    opacity: 0;
    transition: opacity .5s;
    text-transform: none;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    h3 {
      margin-right: 5px;
    }
  }
  &:hover .info {
    opacity: .9;
  }
}
