.image-grid {
  // display: flex;
  // flex-wrap: wrap;
  // columns: 100px;
  column-count: 5;
  column-gap: 0;

  .grid-item {
    border: 1px solid #ccc;
    margin: 2px;
    break-inside: avoid;
    border-radius: 2px;
    img {
      height: 100px;
      perspective: 1000;
      transition: 0.25s;
    }
    // &:nth-child(4n) img {
    //   height: 200px;
    // }
    &:hover img {
      overflow: visible;
      position: relative;
      transform-style: preserve-3d;
      transform: rotateY(180deg);
      // backface-visibility: hidden;
      // z-index: 2;
    }
  }
  .big.grid-item img {
    height: 200px;
  }
  .two {
    display: flex;
    flex-direction: row;
    .grid-item {
      flex-basis: 50%;
    }
  }
}
