$big-image: 600px;
$small-image: 450px;

.image-grid {
  // display: flex;
  // flex-wrap: wrap;
  // columns: 100px;
  column-count: 2;
  column-gap: 0;

  .grid-item {
    border: 1px solid #ccc;
    margin: 2px;
    break-inside: avoid;
    border-radius: 2px;
    height: $small-image;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: $small-image;
      perspective: 1000;
      transition: 0.25s;
    }
    // &:nth-child(4n) img {
    //   height: 200px;
    // }
    &:hover img {
      overflow: visible;
      position: relative;
      transform-style: preserve-3d;
      transform: rotateY(180deg);
      // backface-visibility: hidden;
      // z-index: 2;
    }
  }
  .big.grid-item {
    height: auto;
    img {
      max-height: none;
      height: $big-image;
    }
  }
  .two {
    display: flex;
    flex-direction: row;
    .grid-item {
      // flex-basis: 50%;
      flex: 0 1 50%;
      img {
        max-width: 250px;
      }
    }
  }
}
