.Homepage {
  .hero {
    margin-top: $nav_height;
    height: 100%;
    width: 100%;
    font-size: large;
    background-image: url("https://assets2.thereformation.com/app/public/assets/products/92666/original/2017.jpg?1483491128&i10c=img.resize(width:2560)");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
